body {
  margin: 0;
  padding: 10px;
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
}

h2 {
  color: #bb86fc;
}

button {
  background-color: #03dac6;
  border: none;
  color: #121212;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #018786;
}

#duplicate-alert {
  background-color: #cf6679;
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
